@media (min-width: 1025px) {
  .h-custom-2 {
    height: 100%;
  }
}

.text-danger {
  color: red;
  font-size: 0.875rem;
}
.object-cover {
  object-fit: cover;
  object-position: center;
}
.login-title {
  text-align: center;
}
