<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <!-- Barre de Recherche -->

    <ul class="navbar-nav" style="margin-left: 0;">
      <li class="nav-item active">
        <a class="nav-link" href="/productsClient">
          <i class="pi pi-box" style="margin-right: 8px;"></i> Articles
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/panier">
          <i class="pi pi-cart" style="margin-right: 8px;"></i> Panier
        </a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/commandesClient">
          <i class="pi pi-cart" style="margin-right: 8px;"></i> Votre Commandes
        </a>
      </li>
<li class="nav-item">
  <a class="nav-link" (click)="logout()" >
    <i class="pi pi-sign-out" style="margin-right: 8px;"></i> Logout
  </a>
</li>

    </ul>
    

  </div>
</nav>
