.card {
  transition: transform 0.3s ease-in-out; /* Ajout d'une transition douce */
}

.card:hover {
  transform: scale(1.05); /* Zoom de 5% à l'activation de :hover */
}
.mb-3 {
  margin-bottom: 1rem;
}

.ml-2 {
  margin-left: 0.5rem; /* Adjust this value to your preference */
}
form.d-flex {
  align-items: center; /* Pour aligner verticalement les éléments */
}

input.form-control {
  width: 200px; /* Réduire la largeur de l'input */
  padding: 5px; /* Réduire le padding pour le rendre plus compact */
}

button.btn-outline-success {
  padding: 5px 10px; /* Ajuster les marges internes pour rendre le bouton plus petit */
  font-size: 12px; /* Réduire la taille du texte */
}
form.d-flex {
  align-items: center; /* Aligner verticalement les éléments si nécessaire */
}

input.form-control {
  width: 200px; /* Définir la largeur de l'input */
}

button.btn-outline-success {
  margin-left: 10px; /* Ajouter un espace entre le bouton et l'input */
}
